@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var textInfo = CultureInfo.CurrentUICulture.TextInfo;

    //Get json languages list
    string jsonLanguages = JsonSerializer.Serialize(LocOptions.Value.SupportedUICultures
    .Select(c => textInfo.ToTitleCase(c.NativeName))
    .ToArray());

    //Get json cultures list
    string jsonCultures = JsonSerializer.Serialize(LocOptions.Value.SupportedUICultures
        .Select(c => c.Name)
        .ToArray());

    //Get url to query
    var jsonUrl = JsonSerializer.Serialize(Url.Action("SetLanguage", "Settings"));

    //Get load image url
    var loadImageUrl = JsonSerializer.Serialize(Url.Action("GetAvatarPath", "Users"));
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Users/Users.css" />
    <script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>
    <link type="text/css" rel="stylesheet" href="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.css" />
</head>
<body class="bg-secondary">
    <header class="bg-primary container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a asp-controller="Home" asp-action="Index" class="navbar-brand">@Localizer["RentalOfProperty"]</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    @if (User.IsInRole(UserRoles.Administrator))
                    {
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:11pt">
                                    @Localizer["LoadAds"]
                                </button>
                                <div class="dropdown-menu">
                                    <form asp-controller="Ads" asp-action="LoadDataFromSource" asp-route-dataSourceMenuItem="@LoadDataFromSourceMenu.GoHomeByLongTermAds"
                                          data-ajax="true"
                                          data-ajax-method="POST"
                                          data-ajax-mode="replace"
                                          data-ajax-update="#loadResult">
                                        <button class="dropdown-item" type="button" onclick="loadData('loadData-1', '@Localizer["UpdateConfirm"]')">@Localizer["GoHomeByLongTermAds"]</button>
                                        <input type="submit" class="d-none" id="loadData-1" />
                                    </form>
                                    <form asp-controller="Ads" asp-action="LoadDataFromSource" asp-route-dataSourceMenuItem="@LoadDataFromSourceMenu.RealtByLongTermAds"
                                          data-ajax="true"
                                          data-ajax-method="POST"
                                          data-ajax-mode="replace"
                                          data-ajax-update="#loadResult">
                                        <button class="dropdown-item" type="button" onclick="loadData('loadData-2', '@Localizer["UpdateConfirm"]')">@Localizer["RealtByLongTermAds"]</button>
                                        <input type="submit" class="d-none" id="loadData-2" />
                                    </form>
                                    <form asp-controller="Ads" asp-action="LoadDataFromSource" asp-route-dataSourceMenuItem="@LoadDataFromSourceMenu.GoHomeByDailyAds"
                                          data-ajax="true"
                                          data-ajax-method="POST"
                                          data-ajax-mode="replace"
                                          data-ajax-update="#loadResult">
                                        <button class="dropdown-item" type="button" onclick="loadData('loadData-3', '@Localizer["UpdateConfirm"]')">@Localizer["GoHomeByDailyAds"]</button>
                                        <input type="submit" class="d-none" id="loadData-3" />
                                    </form>
                                    <form asp-controller="Ads" asp-action="LoadDataFromSource" asp-route-dataSourceMenuItem="@LoadDataFromSourceMenu.RealtByDailyAds"
                                          data-ajax="true"
                                          data-ajax-method="POST"
                                          data-ajax-mode="replace"
                                          data-ajax-update="#loadResult">
                                        <button class="dropdown-item" type="button" onclick="loadData('loadData-4', '@Localizer["UpdateConfirm"]')">@Localizer["RealtByDailyAds"]</button>
                                        <input type="submit" class="d-none" id="loadData-4" />
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                        <a class="btn btn-secondary" asp-controller="Ads" asp-action="AdsByType" asp-route-adsTypeMenuItem="@AdsTypeMenu.AdsForPublish">@Localizer["Publishing"]</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Localizer["Statistic"]
                                </button>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Ads" asp-action="CitiesStatistic" asp-route-citiesViewsStatistic="@CitiesViewsStatistic.LongTermAds">@Localizer["TopLongTermAds"]</a>
                                    <a class="dropdown-item" asp-controller="Ads" asp-action="CitiesStatistic" asp-route-citiesViewsStatistic="@CitiesViewsStatistic.DailyAds">@Localizer["TopDailyAds"]</a>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown mr-2">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @textInfo.ToTitleCase(CultureInfo.CurrentUICulture.NativeName)
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="language-menu">
                        </div>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</button>
                                <div class="dropdown-menu w-100 text-center">
                                    <a asp-controller="Ads" asp-action="AdsByType" asp-route-adsTypeMenuItem="@AdsTypeMenu.MyAds" class="dropdown-item">@Localizer["MyAds"] </a>
                                    <a asp-controller="Ads" asp-action="AdsByType" asp-route-adsTypeMenuItem="@AdsTypeMenu.FavoriteAds" class="dropdown-item">@Localizer["MyFavourites"]</a>
                                    <a asp-controller="Users" asp-action="EditUserData" class="dropdown-item">@Localizer["UpdatePersonalData"]</a>
                                    <a asp-controller="Users" asp-action="ChangePassword" class="dropdown-item">@Localizer["UpdatePassword"]</a>
                                    <form asp-controller="Users" asp-action="LoadAvatarImage" enctype="multipart/form-data">
                                        <input type='file' name="file" class="d-none" id="avatarImage" accept=".jpg, .jpeg, .png">
                                        <button type="button" class="dropdown-item" onclick="downloadImage('avatarImage', 'loadAvatarImage','@Localizer["IncorrectImageFormat"]')">@Localizer["UpdatePhoto"]</button>
                                        <button type='submit' class="d-none" id="loadAvatarImage"></button>
                                    </form>
                                    <form asp-controller="Users" asp-action="LogOff">
                                        <button type="submit" class="dropdown-item">@Localizer["LogOff"]</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown mr-2" id="avatar">

                        </li>
                    }
                    else
                    {
                        <li class="nav-item mr-2">
                            <a asp-controller="Users" asp-action="Registration" class="btn btn-outline-success btn-light">@Localizer["Registration"]</a>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline my-2 my-lg-0">
                                <a asp-controller="Users" asp-action="Authorization" class="btn btn-outline-success btn-light">@Localizer["SignIn"]</a>
                            </form>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="bg-white container">
        <main role="main">
            @RenderBody()
        </main>
    </div>
    <footer class="footer text-white">
        <div class="bg-primary container text-center">
            &copy; @DateTime.Now.Year - @Localizer["RentalOfProperty"]
        </div>
    </footer>
    <script src="/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>
    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="~/js/_Layout.js" asp-append-version="true"></script>
    <script>
    let languages = JSON.parse(JSON.stringify(@Html.Raw(jsonLanguages)));
    let url = JSON.parse(JSON.stringify(@Html.Raw(jsonUrl)));
    let cultures = JSON.parse(JSON.stringify(@Html.Raw(jsonCultures)));
    let loadUrl = JSON.parse(JSON.stringify(@Html.Raw(loadImageUrl)));

    callAvatarQuey(loadUrl);
    createLanguagesList(languages, cultures, url);
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
