@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">@Localizer["Error"]</h1>
<h2 class="text-danger">@Localizer["AnErrorOccured"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["RequestId"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["DevelopmentMode"]</h3>
<p>
    @Localizer["SwappingTo"] <strong>@Localizer["Development"]</strong> @Localizer["EnvironmentWillDisplayMoreDetailedInformationAboutTheErrorThatOccurred."]
</p>
<p>
    <strong>@Localizer["TheDevelopmentEnvironment"]</strong>
    @Localizer["DeployedApplications"] <strong> @Localizer["Development"] </strong> @Localizer["EnvironmentBySettingThe"] <strong>@Localizer["AspNetCoreEnviroment"]</strong> @Localizer["EnvironmentVariableTo"] <strong>@Localizer["Development"]</strong>
    @Localizer["RestartApplication"]
</p>
