@model RentalOfProperty.WebUserInterface.Models.Ad.AdsPageView
@using RentalOfProperty.WebUserInterface.Models.Ad

@{
    ViewData["Title"] = Localizer["AdsByType"];
}
<div class="sticky-top container bg-light" style="z-index:2">
    <a asp-controller="Ads" asp-action="AdsByType" asp-route-adsTypeMenuItem="@AdsTypeMenu.LongTermAds" class="col-md-3 offset-md-1 text-center text-danger h3 mt-md-2">@Localizer["LongTermRent"]</a>
    <a asp-controller="Ads" asp-action="AdsByType" asp-route-adsTypeMenuItem="@AdsTypeMenu.DayilyAds" class="col-md-3 offset-md-1 text-center text-danger h3 mt-md-2">@Localizer["RentForADay"]</a>
    <a href="#" class="col-md-2 offset-md-1 text-center btn btn-success text-white h3 mt-md-2 pl-md-1">@Localizer["PostAnAd"]</a>
</div>

<div id="loadResult">
    @{
        string type = ViewBag.AdsTypeMenuItem switch
        {
            AdsTypeMenu.DayilyAds => Localizer["RentForADay"].Value,
            AdsTypeMenu.LongTermAds => Localizer["LongTermRent"].Value,
            AdsTypeMenu.FavoriteAds => Localizer["MyFavourites"].Value,
            AdsTypeMenu.LongTermSearch => Localizer["LongTermAdsSearching"].Value,
            AdsTypeMenu.DailySearch => Localizer["DailyAdsSearching"].Value,
            _ => default,
        };
    }
    <h4 class="text-center text-danger pt-4 w-100">@type</h4>
    @if (Model.AdViews.Count() != 0)
    {
        <table class="table table-striped w-100">
            <thead>
                <tr>
                    <th scope="col" class="text-md-center" style="width:20%"></th>
                    <th scope="col" class="text-md-center" style="width:25%">@Localizer["AddressAndDescription"]</th>
                    <th scope="col" class="text-md-center" style="width:17%">@Localizer["RealEstateData"]</th>
                    <th scope="col" class="text-md-center" style="width:28%">@Localizer["Price"]</th>
                    <th scope="col" class="text-md-center" style="width:10%">@Localizer["SourceLink"]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ad in Model.AdViews)
                {
                    string adColor = ad.RentalAdView.IsFavorite ? "#90EE90" : string.Empty;
                    <tr style="background-color:@adColor">
                        <td>
                            <div id="carousel-@ad.RentalAdView.Id" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    @{
                                        string imagePath = ad.HousingPhotos.Count() == 0 ? @"\Files\Images\DefaultAdPhoto.png" : ad.HousingPhotos.First().PathToPhoto;
                                        <div class="carousel-item active" style="height:250px">
                                            <img class="h-100 w-100" src="@imagePath" alt="@Localizer["ImageNotFound"]">
                                        </div>
                                    }
                                    @foreach (var photo in ad.HousingPhotos)
                                    {
                                        <div class="carousel-item" style="height:250px">
                                            <img class="h-100 w-100" src="@photo.PathToPhoto" alt="@Localizer["ImageNotFound"]">
                                        </div>
                                    }
                                </div>
                                @if (ad.HousingPhotos.Count() != 0)
                                {
                                    <a class="carousel-control-prev" href="#carousel-@ad.RentalAdView.Id" role="button" data-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carousel-@ad.RentalAdView.Id" role="button" data-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                }
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <a href="#" class="col-md-12 text-primary pb-4">@ad.RentalAdView.Locality, @ad.RentalAdView.Address</a>
                                <div class="col-md-12">
                                    @{
                                        var descriptionArray = ad.RentalAdView.Description.ToArray();
                                        var outputString = descriptionArray.Length < 130 ? string.Concat(descriptionArray.Take(descriptionArray.Length)) : string.Concat(descriptionArray.Take(130));
                                    }
                                    @outputString ...
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                <div class="col-md-12 pt-4">
                                    @Localizer["Rooms"]: @ad.RentalAdView.RentCountOfRooms / @ad.RentalAdView.TotalCountOfRooms
                                </div>
                                <div class="col-md-12">
                                    @Localizer["Square"]: @(ad.RentalAdView.TotalArea <= 0 ? "-" : $"{ad.RentalAdView.TotalArea}") / @(ad.RentalAdView.LivingArea <= 0 ? "-" : $"{ad.RentalAdView.LivingArea}") / @(ad.RentalAdView.KitchenArea <= 0 ? "-" : $"{ad.RentalAdView.KitchenArea}") / @(ad.RentalAdView.LandArea <= 0 ? "-" : $"{ad.RentalAdView.LandArea}") м2
                                </div>
                                <div class="col-md-12">
                                    @Localizer["Floors"]: @ad.RentalAdView.Floor / @ad.RentalAdView.TotalFloors
                                </div>
                            </div>
                        </td>
                        @if (ad.RentalAdView is DailyRentalAdView)
                        {
                            var dailyAd = ad.RentalAdView as DailyRentalAdView;
                            <td>
                                <div class="row">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <form asp-controller="Ads" asp-action="AddOrRemoveFavorite" asp-route-rentalAdId="@ad.RentalAdView.Id" class="form-check col-md-12 text-left">
                                            @if (ad.RentalAdView.IsFavorite)
                                            {
                                                <input class="btn btn-danger" type="submit" value="@Localizer["RemoveFromFavorites"]" />

                                            }
                                            else
                                            {
                                                <input class="btn btn-success" type="submit" value="@Localizer["AddToFavorites"]" />
                                            }
                                        </form>
                                    }
                                    <div class="col-md-12 row pb-4">
                                        <div class="col-md-4 text-left">
                                            @Localizer["PricePerPerson"]
                                        </div>
                                        <div class="col-md-4 text-center">
                                            @(dailyAd.BYNPricePerPerson <= 0 ? Localizer["ContractPrice"].Value : $"{dailyAd.BYNPricePerPerson} {Localizer["BYNHuman"].Value}")
                                        </div>
                                        <div class="col-md-4 text-right">
                                            @(dailyAd.USDPricePerPerson <= 0 ? Localizer["ContractPrice"].Value : $"{dailyAd.USDPricePerPerson} {Localizer["USDHuman"].Value}")
                                        </div>
                                    </div>
                                    <div class="col-md-12 row pb-5">
                                        <div class="col-md-4 text-left">
                                            @Localizer["PricePerDay"]
                                        </div>
                                        <div class="col-md-4 text-center">
                                            @(dailyAd.BYNPricePerDay <= 0 ? Localizer["ContractPrice"].Value : $"{dailyAd.BYNPricePerDay} {Localizer["BYNDay"].Value}")
                                        </div>
                                        <div class="col-md-4 text-right">
                                            @(dailyAd.USDPricePerDay <= 0 ? Localizer["ContractPrice"].Value : $"{dailyAd.USDPricePerDay} {Localizer["USDDay"].Value}")
                                        </div>
                                    </div>
                                    <div class="col-md-12 pt-3">
                                        @Localizer["UpdateDateOnThisSite"] @ad.RentalAdView.UpdateDate.ToShortDateString().ToString(CultureInfo.CurrentUICulture)
                                    </div>
                                </div>
                            </td>
                            <td class="text-md-center">
                                <div class="row text-md-center">
                                    <a href="@ad.RentalAdView.SourceLink" class="text-warning col-md-12 pt-3">@Localizer["Source"]</a>
                                </div>
                            </td>
                        }
                        else
                        {
                            var longTermAd = ad.RentalAdView as LongTermRentalAdView;
                            <td>
                                <div class="row">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <form asp-controller="Ads" asp-action="AddOrRemoveFavorite" asp-route-rentalAdId="@ad.RentalAdView.Id" class="form-check col-md-12 text-left">
                                            @if (ad.RentalAdView.IsFavorite)
                                            {
                                                <input class="btn btn-danger" type="submit" value="@Localizer["RemoveFromFavorites"]" />

                                            }
                                            else
                                            {
                                                <input class="btn btn-success" type="submit" value="@Localizer["AddToFavorites"]" />
                                            }
                                        </form>
                                    }
                                    <div class="col-md-12 row pb-5 mb-4">
                                        <div class="col-md-4 text-left">
                                            @Localizer["Price"]
                                        </div>
                                        <div class="col-md-4 text-center">
                                            @(longTermAd.BYNPrice <= 0 ? Localizer["ContractPrice"].Value : $"{longTermAd.BYNPrice} {Localizer["BYN"].Value}")
                                        </div>
                                        <div class="col-md-4 text-right">
                                            @(longTermAd.USDPrice <= 0 ? Localizer["ContractPrice"].Value : $"{longTermAd.USDPrice} $")
                                        </div>
                                    </div>
                                    <div class="col-md-12 pt-5 mt-3">
                                        @Localizer["UpdateDateOnThisSite"] @ad.RentalAdView.UpdateDate.ToShortDateString().ToString(CultureInfo.CurrentUICulture)
                                    </div>
                                </div>
                            </td>
                            <td class="text-md-center">
                                <div class="row text-md-center">
                                    <a href="@ad.RentalAdView.SourceLink" class="text-warning col-md-12 pt-3">@Localizer["Source"]</a>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
        @if (ViewBag.AdsTypeMenuItem == AdsTypeMenu.LongTermSearch)
        {
            <nav aria-label="Page navigation example" class="mb-md-5 ml-md-4">
                <ul class="pagination">
                    @{
                        const int PagesLinks = 3, DefaultPageCount = 0;

                        if (Model.PageInfo.PageNumber - PagesLinks > DefaultPageCount && Model.AdViews.Count() > DefaultPageCount)
                        {
                            <li class="page-item" onclick="document.getElementById('pageLink-1').click()">
                                <form asp-action="LongTermSearch" asp-route-pageNumber="1"
                                    asp-route-Address="@Model.LongTermSearch.Address"
                                    asp-route-District="@Model.LongTermSearch.District"
                                    asp-route-FinishBYNPrice="@Model.LongTermSearch.FinishBYNPrice"
                                    asp-route-FinishCurrentFloor="@Model.LongTermSearch.FinishCurrentFloor"
                                    asp-route-FinishKitchenArea="@Model.LongTermSearch.FinishKitchenArea"
                                    asp-route-FinishLandArea="@Model.LongTermSearch.FinishLandArea" 
                                    asp-route-FinishFinishLivingArea="@Model.LongTermSearch.FinishLivingArea"
                                    asp-route-FinishRoomsCount="@Model.LongTermSearch.FinishRoomsCount"
                                    asp-route-FinishTotalArea="@Model.LongTermSearch.FinishTotalArea"
                                    asp-route-FinishTotalFloor="@Model.LongTermSearch.FinishTotalFloor"
                                    asp-route-FinishUSDPrice="@Model.LongTermSearch.FinishUSDPrice"
                                    asp-route-IsFirstFloor="@Model.LongTermSearch.IsFirstFloor"
                                    asp-route-IsLastFloor="@Model.LongTermSearch.IsLastFloor"
                                    asp-route-Locality="@Model.LongTermSearch.Locality"
                                    asp-route-Region="@Model.LongTermSearch.Region"
                                    asp-route-StartBYNPrice="@Model.LongTermSearch.StartBYNPrice"
                                    asp-route-StartCurrentFloor="@Model.LongTermSearch.StartCurrentFloor"
                                    asp-route-StartKitchenArea="@Model.LongTermSearch.StartKitchenArea"
                                    asp-route-StartLandArea="@Model.LongTermSearch.StartLandArea"
                                    asp-route-StartLivingArea="@Model.LongTermSearch.StartLivingArea"
                                    asp-route-StartRoomsCount="@Model.LongTermSearch.StartRoomsCount"
                                    asp-route-StartTotalArea="@Model.LongTermSearch.StartTotalArea"
                                    asp-route-StartTotalFloor="@Model.LongTermSearch.StartTotalFloor"
                                    asp-route-StartUSDPrice="@Model.LongTermSearch.StartUSDPrice"
                                      class="page-link">
                                    1
                                    <button type='submit' class="d-none" id="pageLink-1"></button>
                                </form>
                            </li>
                            <li class="page-item" onclick="document.getElementById('@($"pageLink-{Model.PageInfo.PageNumber - PagesLinks - 1}")').click()">
                                <form asp-action="LongTermSearch" asp-route-pageNumber="@(Model.PageInfo.PageNumber - PagesLinks - 1)"
                                    asp-route-Address="@Model.LongTermSearch.Address"
                                    asp-route-District="@Model.LongTermSearch.District"
                                    asp-route-FinishBYNPrice="@Model.LongTermSearch.FinishBYNPrice"
                                    asp-route-FinishCurrentFloor="@Model.LongTermSearch.FinishCurrentFloor"
                                    asp-route-FinishKitchenArea="@Model.LongTermSearch.FinishKitchenArea"
                                    asp-route-FinishLandArea="@Model.LongTermSearch.FinishLandArea" 
                                    asp-route-FinishFinishLivingArea="@Model.LongTermSearch.FinishLivingArea"
                                    asp-route-FinishRoomsCount="@Model.LongTermSearch.FinishRoomsCount"
                                    asp-route-FinishTotalArea="@Model.LongTermSearch.FinishTotalArea"
                                    asp-route-FinishTotalFloor="@Model.LongTermSearch.FinishTotalFloor"
                                    asp-route-FinishUSDPrice="@Model.LongTermSearch.FinishUSDPrice"
                                    asp-route-IsFirstFloor="@Model.LongTermSearch.IsFirstFloor"
                                    asp-route-IsLastFloor="@Model.LongTermSearch.IsLastFloor"
                                    asp-route-Locality="@Model.LongTermSearch.Locality"
                                    asp-route-Region="@Model.LongTermSearch.Region"
                                    asp-route-StartBYNPrice="@Model.LongTermSearch.StartBYNPrice"
                                    asp-route-StartCurrentFloor="@Model.LongTermSearch.StartCurrentFloor"
                                    asp-route-StartKitchenArea="@Model.LongTermSearch.StartKitchenArea"
                                    asp-route-StartLandArea="@Model.LongTermSearch.StartLandArea"
                                    asp-route-StartLivingArea="@Model.LongTermSearch.StartLivingArea"
                                    asp-route-StartRoomsCount="@Model.LongTermSearch.StartRoomsCount"
                                    asp-route-StartTotalArea="@Model.LongTermSearch.StartTotalArea"
                                    asp-route-StartTotalFloor="@Model.LongTermSearch.StartTotalFloor"
                                    asp-route-StartUSDPrice="@Model.LongTermSearch.StartUSDPrice"
                                      class="page-link">
                                    @Localizer["Previous"]
                                    <button type='submit' class="d-none" id="@($"pageLink-{Model.PageInfo.PageNumber - PagesLinks - 1}")"></button>
                                </form>
                            </li>

                            for (int index = PagesLinks; index > DefaultPageCount; index--)
                            {
                                <li class="page-item" onclick="document.getElementById('@($"pageLink-{Model.PageInfo.PageNumber - index}")').click()">
                                    <form asp-action="LongTermSearch" asp-route-pageNumber="@(Model.PageInfo.PageNumber - index)"
                                        asp-route-Address="@Model.LongTermSearch.Address"
                                        asp-route-District="@Model.LongTermSearch.District"
                                        asp-route-FinishBYNPrice="@Model.LongTermSearch.FinishBYNPrice"
                                        asp-route-FinishCurrentFloor="@Model.LongTermSearch.FinishCurrentFloor"
                                        asp-route-FinishKitchenArea="@Model.LongTermSearch.FinishKitchenArea"
                                        asp-route-FinishLandArea="@Model.LongTermSearch.FinishLandArea" 
                                        asp-route-FinishFinishLivingArea="@Model.LongTermSearch.FinishLivingArea"
                                        asp-route-FinishRoomsCount="@Model.LongTermSearch.FinishRoomsCount"
                                        asp-route-FinishTotalArea="@Model.LongTermSearch.FinishTotalArea"
                                        asp-route-FinishTotalFloor="@Model.LongTermSearch.FinishTotalFloor"
                                        asp-route-FinishUSDPrice="@Model.LongTermSearch.FinishUSDPrice"
                                        asp-route-IsFirstFloor="@Model.LongTermSearch.IsFirstFloor"
                                        asp-route-IsLastFloor="@Model.LongTermSearch.IsLastFloor"
                                        asp-route-Locality="@Model.LongTermSearch.Locality"
                                        asp-route-Region="@Model.LongTermSearch.Region"
                                        asp-route-StartBYNPrice="@Model.LongTermSearch.StartBYNPrice"
                                        asp-route-StartCurrentFloor="@Model.LongTermSearch.StartCurrentFloor"
                                        asp-route-StartKitchenArea="@Model.LongTermSearch.StartKitchenArea"
                                        asp-route-StartLandArea="@Model.LongTermSearch.StartLandArea"
                                        asp-route-StartLivingArea="@Model.LongTermSearch.StartLivingArea"
                                        asp-route-StartRoomsCount="@Model.LongTermSearch.StartRoomsCount"
                                        asp-route-StartTotalArea="@Model.LongTermSearch.StartTotalArea"
                                        asp-route-StartTotalFloor="@Model.LongTermSearch.StartTotalFloor"
                                        asp-route-StartUSDPrice="@Model.LongTermSearch.StartUSDPrice"
                                          class="page-link">
                                        @(Model.PageInfo.PageNumber - index)
                                        <button type='submit' class="d-none" id="@($"pageLink-{Model.PageInfo.PageNumber - index}")"></button>
                                    </form>
                                </li>
                            }
                        }
                        else
                        {
                            for (int index = 1; index < Model.PageInfo.PageNumber; index++)
                            {
                                <li class="page-item" onclick="document.getElementById('@($"pageLink-{index}")').click()">
                                    <form asp-action="LongTermSearch" asp-route-pageNumber="@index"
                                        asp-route-Address="@Model.LongTermSearch.Address"
                                        asp-route-District="@Model.LongTermSearch.District"
                                        asp-route-FinishBYNPrice="@Model.LongTermSearch.FinishBYNPrice"
                                        asp-route-FinishCurrentFloor="@Model.LongTermSearch.FinishCurrentFloor"
                                        asp-route-FinishKitchenArea="@Model.LongTermSearch.FinishKitchenArea"
                                        asp-route-FinishLandArea="@Model.LongTermSearch.FinishLandArea" 
                                        asp-route-FinishFinishLivingArea="@Model.LongTermSearch.FinishLivingArea"
                                        asp-route-FinishRoomsCount="@Model.LongTermSearch.FinishRoomsCount"
                                        asp-route-FinishTotalArea="@Model.LongTermSearch.FinishTotalArea"
                                        asp-route-FinishTotalFloor="@Model.LongTermSearch.FinishTotalFloor"
                                        asp-route-FinishUSDPrice="@Model.LongTermSearch.FinishUSDPrice"
                                        asp-route-IsFirstFloor="@Model.LongTermSearch.IsFirstFloor"
                                        asp-route-IsLastFloor="@Model.LongTermSearch.IsLastFloor"
                                        asp-route-Locality="@Model.LongTermSearch.Locality"
                                        asp-route-Region="@Model.LongTermSearch.Region"
                                        asp-route-StartBYNPrice="@Model.LongTermSearch.StartBYNPrice"
                                        asp-route-StartCurrentFloor="@Model.LongTermSearch.StartCurrentFloor"
                                        asp-route-StartKitchenArea="@Model.LongTermSearch.StartKitchenArea"
                                        asp-route-StartLandArea="@Model.LongTermSearch.StartLandArea"
                                        asp-route-StartLivingArea="@Model.LongTermSearch.StartLivingArea"
                                        asp-route-StartRoomsCount="@Model.LongTermSearch.StartRoomsCount"
                                        asp-route-StartTotalArea="@Model.LongTermSearch.StartTotalArea"
                                        asp-route-StartTotalFloor="@Model.LongTermSearch.StartTotalFloor"
                                        asp-route-StartUSDPrice="@Model.LongTermSearch.StartUSDPrice"
                                        class="page-link">
                                        @index
                                        <button type='submit' class="d-none" id="@($"pageLink-{index}")"></button>
                                    </form>
                                </li>
                            }
                        }
                        @if (Model.PageInfo.TotalItems > 30)
                        {
                            <li class="page-item active" onclick="document.getElementById('@($"pageLink-{Model.PageInfo.PageNumber}")').click()">
                                <form asp-action="LongTermSearch" asp-controller="Ads" asp-route-pageNumber="@Model.PageInfo.PageNumber"
                                    asp-route-Address="@Model.LongTermSearch.Address"
                                    asp-route-District="@Model.LongTermSearch.District"
                                    asp-route-FinishBYNPrice="@Model.LongTermSearch.FinishBYNPrice"
                                    asp-route-FinishCurrentFloor="@Model.LongTermSearch.FinishCurrentFloor"
                                    asp-route-FinishKitchenArea="@Model.LongTermSearch.FinishKitchenArea"
                                    asp-route-FinishLandArea="@Model.LongTermSearch.FinishLandArea" 
                                    asp-route-FinishFinishLivingArea="@Model.LongTermSearch.FinishLivingArea"
                                    asp-route-FinishRoomsCount="@Model.LongTermSearch.FinishRoomsCount"
                                    asp-route-FinishTotalArea="@Model.LongTermSearch.FinishTotalArea"
                                    asp-route-FinishTotalFloor="@Model.LongTermSearch.FinishTotalFloor"
                                    asp-route-FinishUSDPrice="@Model.LongTermSearch.FinishUSDPrice"
                                    asp-route-IsFirstFloor="@Model.LongTermSearch.IsFirstFloor"
                                    asp-route-IsLastFloor="@Model.LongTermSearch.IsLastFloor"
                                    asp-route-Locality="@Model.LongTermSearch.Locality"
                                    asp-route-Region="@Model.LongTermSearch.Region"
                                    asp-route-StartBYNPrice="@Model.LongTermSearch.StartBYNPrice"
                                    asp-route-StartCurrentFloor="@Model.LongTermSearch.StartCurrentFloor"
                                    asp-route-StartKitchenArea="@Model.LongTermSearch.StartKitchenArea"
                                    asp-route-StartLandArea="@Model.LongTermSearch.StartLandArea"
                                    asp-route-StartLivingArea="@Model.LongTermSearch.StartLivingArea"
                                    asp-route-StartRoomsCount="@Model.LongTermSearch.StartRoomsCount"
                                    asp-route-StartTotalArea="@Model.LongTermSearch.StartTotalArea"
                                    asp-route-StartTotalFloor="@Model.LongTermSearch.StartTotalFloor"
                                    asp-route-StartUSDPrice="@Model.LongTermSearch.StartUSDPrice"
                                      class="page-link">
                                    @Model.PageInfo.PageNumber
                                    <button type='submit' class="d-none" id="@($"pageLink-{Model.PageInfo.PageNumber}")"></button>
                                </form>
                            </li>
                        }
                        if (Model.PageInfo.PageNumber + PagesLinks <= Model.PageInfo.TotalPages)
                        {
                            for (int index = DefaultPageCount + 1; index <= PagesLinks; index++)
                            {
                                <li class="page-item" onclick="document.getElementById('@($"pageLink-{Model.PageInfo.PageNumber + index}")').click()">
                                    <form asp-action="LongTermSearch" asp-route-pageNumber="@(Model.PageInfo.PageNumber + index)"
                                    asp-route-Address="@Model.LongTermSearch.Address"
                                    asp-route-District="@Model.LongTermSearch.District"
                                    asp-route-FinishBYNPrice="@Model.LongTermSearch.FinishBYNPrice"
                                    asp-route-FinishCurrentFloor="@Model.LongTermSearch.FinishCurrentFloor"
                                    asp-route-FinishKitchenArea="@Model.LongTermSearch.FinishKitchenArea"
                                    asp-route-FinishLandArea="@Model.LongTermSearch.FinishLandArea" 
                                    asp-route-FinishFinishLivingArea="@Model.LongTermSearch.FinishLivingArea"
                                    asp-route-FinishRoomsCount="@Model.LongTermSearch.FinishRoomsCount"
                                    asp-route-FinishTotalArea="@Model.LongTermSearch.FinishTotalArea"
                                    asp-route-FinishTotalFloor="@Model.LongTermSearch.FinishTotalFloor"
                                    asp-route-FinishUSDPrice="@Model.LongTermSearch.FinishUSDPrice"
                                    asp-route-IsFirstFloor="@Model.LongTermSearch.IsFirstFloor"
                                    asp-route-IsLastFloor="@Model.LongTermSearch.IsLastFloor"
                                    asp-route-Locality="@Model.LongTermSearch.Locality"
                                    asp-route-Region="@Model.LongTermSearch.Region"
                                    asp-route-StartBYNPrice="@Model.LongTermSearch.StartBYNPrice"
                                    asp-route-StartCurrentFloor="@Model.LongTermSearch.StartCurrentFloor"
                                    asp-route-StartKitchenArea="@Model.LongTermSearch.StartKitchenArea"
                                    asp-route-StartLandArea="@Model.LongTermSearch.StartLandArea"
                                    asp-route-StartLivingArea="@Model.LongTermSearch.StartLivingArea"
                                    asp-route-StartRoomsCount="@Model.LongTermSearch.StartRoomsCount"
                                    asp-route-StartTotalArea="@Model.LongTermSearch.StartTotalArea"
                                    asp-route-StartTotalFloor="@Model.LongTermSearch.StartTotalFloor"
                                    asp-route-StartUSDPrice="@Model.LongTermSearch.StartUSDPrice"
                                          class="page-link">
                                        @(Model.PageInfo.PageNumber + index)
                                        <button type='submit' class="d-none" id="@($"pageLink-{Model.PageInfo.PageNumber + index}")"></button>
                                    </form>
                                </li>
                            }

                            <li class="page-item" onclick="document.getElementById('@($"pageLink-{Model.PageInfo.PageNumber + PagesLinks + 1}")').click()">
                                <form asp-action="LongTermSearch" asp-route-pageNumber="@(Model.PageInfo.PageNumber + PagesLinks + 1)"
                                     asp-route-Address="@Model.LongTermSearch.Address"
                                    asp-route-District="@Model.LongTermSearch.District"
                                    asp-route-FinishBYNPrice="@Model.LongTermSearch.FinishBYNPrice"
                                    asp-route-FinishCurrentFloor="@Model.LongTermSearch.FinishCurrentFloor"
                                    asp-route-FinishKitchenArea="@Model.LongTermSearch.FinishKitchenArea"
                                    asp-route-FinishLandArea="@Model.LongTermSearch.FinishLandArea" 
                                    asp-route-FinishFinishLivingArea="@Model.LongTermSearch.FinishLivingArea"
                                    asp-route-FinishRoomsCount="@Model.LongTermSearch.FinishRoomsCount"
                                    asp-route-FinishTotalArea="@Model.LongTermSearch.FinishTotalArea"
                                    asp-route-FinishTotalFloor="@Model.LongTermSearch.FinishTotalFloor"
                                    asp-route-FinishUSDPrice="@Model.LongTermSearch.FinishUSDPrice"
                                    asp-route-IsFirstFloor="@Model.LongTermSearch.IsFirstFloor"
                                    asp-route-IsLastFloor="@Model.LongTermSearch.IsLastFloor"
                                    asp-route-Locality="@Model.LongTermSearch.Locality"
                                    asp-route-Region="@Model.LongTermSearch.Region"
                                    asp-route-StartBYNPrice="@Model.LongTermSearch.StartBYNPrice"
                                    asp-route-StartCurrentFloor="@Model.LongTermSearch.StartCurrentFloor"
                                    asp-route-StartKitchenArea="@Model.LongTermSearch.StartKitchenArea"
                                    asp-route-StartLandArea="@Model.LongTermSearch.StartLandArea"
                                    asp-route-StartLivingArea="@Model.LongTermSearch.StartLivingArea"
                                    asp-route-StartRoomsCount="@Model.LongTermSearch.StartRoomsCount"
                                    asp-route-StartTotalArea="@Model.LongTermSearch.StartTotalArea"
                                    asp-route-StartTotalFloor="@Model.LongTermSearch.StartTotalFloor"
                                    asp-route-StartUSDPrice="@Model.LongTermSearch.StartUSDPrice" 
                                      class="page-link">
                                    @Localizer["Next"]
                                    <button type='submit' class="d-none" id="@($"pageLink-{Model.PageInfo.PageNumber + PagesLinks + 1}")"></button>
                                </form>
                            </li>
                            <li class="page-item" onclick="document.getElementById('@($"pageLink-{Model.PageInfo.TotalPages}")').click()">
                                <form asp-action="LongTermSearch" asp-route-pageNumber="@Model.PageInfo.TotalPages"
                                      asp-route-Address="@Model.LongTermSearch.Address"
                                    asp-route-District="@Model.LongTermSearch.District"
                                    asp-route-FinishBYNPrice="@Model.LongTermSearch.FinishBYNPrice"
                                    asp-route-FinishCurrentFloor="@Model.LongTermSearch.FinishCurrentFloor"
                                    asp-route-FinishKitchenArea="@Model.LongTermSearch.FinishKitchenArea"
                                    asp-route-FinishLandArea="@Model.LongTermSearch.FinishLandArea" 
                                    asp-route-FinishFinishLivingArea="@Model.LongTermSearch.FinishLivingArea"
                                    asp-route-FinishRoomsCount="@Model.LongTermSearch.FinishRoomsCount"
                                    asp-route-FinishTotalArea="@Model.LongTermSearch.FinishTotalArea"
                                    asp-route-FinishTotalFloor="@Model.LongTermSearch.FinishTotalFloor"
                                    asp-route-FinishUSDPrice="@Model.LongTermSearch.FinishUSDPrice"
                                    asp-route-IsFirstFloor="@Model.LongTermSearch.IsFirstFloor"
                                    asp-route-IsLastFloor="@Model.LongTermSearch.IsLastFloor"
                                    asp-route-Locality="@Model.LongTermSearch.Locality"
                                    asp-route-Region="@Model.LongTermSearch.Region"
                                    asp-route-StartBYNPrice="@Model.LongTermSearch.StartBYNPrice"
                                    asp-route-StartCurrentFloor="@Model.LongTermSearch.StartCurrentFloor"
                                    asp-route-StartKitchenArea="@Model.LongTermSearch.StartKitchenArea"
                                    asp-route-StartLandArea="@Model.LongTermSearch.StartLandArea"
                                    asp-route-StartLivingArea="@Model.LongTermSearch.StartLivingArea"
                                    asp-route-StartRoomsCount="@Model.LongTermSearch.StartRoomsCount"
                                    asp-route-StartTotalArea="@Model.LongTermSearch.StartTotalArea"
                                    asp-route-StartTotalFloor="@Model.LongTermSearch.StartTotalFloor"
                                    asp-route-StartUSDPrice="@Model.LongTermSearch.StartUSDPrice"
                                      class="page-link">
                                    @Model.PageInfo.TotalPages
                                    <button type='submit' class="d-none" id="@($"pageLink-{Model.PageInfo.TotalPages}")"></button>
                                </form>
                            </li>
                        }
                        else
                        {
                            for (int index = Model.PageInfo.PageNumber + 1; index <= Model.PageInfo.TotalPages; index++)
                            {
                                <li class="page-item" onclick="document.getElementById('@($"pageLink-{index}")').click()">
                                    <form asp-action="LongTermSearch" asp-route-pageNumber="@index"
                                          asp-route-Address="@Model.LongTermSearch.Address"
                                    asp-route-District="@Model.LongTermSearch.District"
                                    asp-route-FinishBYNPrice="@Model.LongTermSearch.FinishBYNPrice"
                                    asp-route-FinishCurrentFloor="@Model.LongTermSearch.FinishCurrentFloor"
                                    asp-route-FinishKitchenArea="@Model.LongTermSearch.FinishKitchenArea"
                                    asp-route-FinishLandArea="@Model.LongTermSearch.FinishLandArea" 
                                    asp-route-FinishFinishLivingArea="@Model.LongTermSearch.FinishLivingArea"
                                    asp-route-FinishRoomsCount="@Model.LongTermSearch.FinishRoomsCount"
                                    asp-route-FinishTotalArea="@Model.LongTermSearch.FinishTotalArea"
                                    asp-route-FinishTotalFloor="@Model.LongTermSearch.FinishTotalFloor"
                                    asp-route-FinishUSDPrice="@Model.LongTermSearch.FinishUSDPrice"
                                    asp-route-IsFirstFloor="@Model.LongTermSearch.IsFirstFloor"
                                    asp-route-IsLastFloor="@Model.LongTermSearch.IsLastFloor"
                                    asp-route-Locality="@Model.LongTermSearch.Locality"
                                    asp-route-Region="@Model.LongTermSearch.Region"
                                    asp-route-StartBYNPrice="@Model.LongTermSearch.StartBYNPrice"
                                    asp-route-StartCurrentFloor="@Model.LongTermSearch.StartCurrentFloor"
                                    asp-route-StartKitchenArea="@Model.LongTermSearch.StartKitchenArea"
                                    asp-route-StartLandArea="@Model.LongTermSearch.StartLandArea"
                                    asp-route-StartLivingArea="@Model.LongTermSearch.StartLivingArea"
                                    asp-route-StartRoomsCount="@Model.LongTermSearch.StartRoomsCount"
                                    asp-route-StartTotalArea="@Model.LongTermSearch.StartTotalArea"
                                    asp-route-StartTotalFloor="@Model.LongTermSearch.StartTotalFloor"
                                    asp-route-StartUSDPrice="@Model.LongTermSearch.StartUSDPrice"
                                          class="page-link">
                                        @index
                                        <button type='submit' class="d-none" id="@($"pageLink-{index}")"></button>
                                    </form>
                                </li>
                            }
                        }
                    }
                </ul>
            </nav>
        }
        else if(ViewBag.AdsTypeMenuItem == AdsTypeMenu.DailySearch)
        {
            <nav aria-label="Page navigation example" class="mb-md-5 ml-md-4">
                <ul class="pagination">
                    @{
                        const int PagesLinks = 3, DefaultPageCount = 0;

                        if (Model.PageInfo.PageNumber - PagesLinks > DefaultPageCount && Model.AdViews.Count() > DefaultPageCount)
                        {
                            <li class="page-item" onclick="document.getElementById('pageLink-1').click()">
                                <form asp-action="DailySearch" asp-route-pageNumber="1"
                                      asp-route-Address="@Model.DailySearch.Address"
                                      asp-route-District="@Model.DailySearch.District"
                                      asp-route-StartBYNPricePerPerson="@Model.DailySearch.StartBYNPricePerPerson"
                                      asp-route-FinishCurrentFloor="@Model.DailySearch.FinishCurrentFloor"
                                      asp-route-FinishBYNPricePerPerson="@Model.DailySearch.FinishBYNPricePerPerson"
                                      asp-route-StartUSDPricePerPerson="@Model.DailySearch.StartUSDPricePerPerson"
                                      asp-route-FinishUSDPricePerPerson="@Model.DailySearch.FinishUSDPricePerPerson"
                                      asp-route-FinishRoomsCount="@Model.DailySearch.FinishRoomsCount"
                                      asp-route-StartUSDPricePerDay="@Model.DailySearch.StartUSDPricePerDay"
                                      asp-route-FinishTotalFloor="@Model.DailySearch.FinishTotalFloor"
                                      asp-route-FinishUSDPricePerDay="@Model.DailySearch.FinishUSDPricePerDay"
                                      asp-route-IsFirstFloor="@Model.DailySearch.IsFirstFloor"
                                      asp-route-IsLastFloor="@Model.DailySearch.IsLastFloor"
                                      asp-route-Locality="@Model.DailySearch.Locality"
                                      asp-route-Region="@Model.DailySearch.Region"
                                      asp-route-StartBYNPricePerDay="@Model.DailySearch.StartBYNPricePerDay"
                                      asp-route-StartCurrentFloor="@Model.DailySearch.StartCurrentFloor"
                                      asp-route-FinishBYNPricePerDay="@Model.DailySearch.FinishBYNPricePerDay"
                                      asp-route-StartRoomsCount="@Model.DailySearch.StartRoomsCount"
                                      asp-route-StartTotalFloor="@Model.DailySearch.StartTotalFloor"
                                      class="page-link">
                                    1
                                    <button type='submit' class="d-none" id="pageLink-1"></button>
                                </form>
                            </li>
                            <li class="page-item" onclick="document.getElementById('@($"pageLink-{Model.PageInfo.PageNumber - PagesLinks - 1}")').click()">
                                <form asp-action="DailySearch" asp-route-pageNumber="@(Model.PageInfo.PageNumber - PagesLinks - 1)"
                                      asp-route-Address="@Model.DailySearch.Address"
                                      asp-route-District="@Model.DailySearch.District"
                                      asp-route-StartBYNPricePerPerson="@Model.DailySearch.StartBYNPricePerPerson"
                                      asp-route-FinishCurrentFloor="@Model.DailySearch.FinishCurrentFloor"
                                      asp-route-FinishBYNPricePerPerson="@Model.DailySearch.FinishBYNPricePerPerson"
                                      asp-route-StartUSDPricePerPerson="@Model.DailySearch.StartUSDPricePerPerson"
                                      asp-route-FinishUSDPricePerPerson="@Model.DailySearch.FinishUSDPricePerPerson"
                                      asp-route-FinishRoomsCount="@Model.DailySearch.FinishRoomsCount"
                                      asp-route-StartUSDPricePerDay="@Model.DailySearch.StartUSDPricePerDay"
                                      asp-route-FinishTotalFloor="@Model.DailySearch.FinishTotalFloor"
                                      asp-route-FinishUSDPricePerDay="@Model.DailySearch.FinishUSDPricePerDay"
                                      asp-route-IsFirstFloor="@Model.DailySearch.IsFirstFloor"
                                      asp-route-IsLastFloor="@Model.DailySearch.IsLastFloor"
                                      asp-route-Locality="@Model.DailySearch.Locality"
                                      asp-route-Region="@Model.DailySearch.Region"
                                      asp-route-StartBYNPricePerDay="@Model.DailySearch.StartBYNPricePerDay"
                                      asp-route-StartCurrentFloor="@Model.DailySearch.StartCurrentFloor"
                                      asp-route-FinishBYNPricePerDay="@Model.DailySearch.FinishBYNPricePerDay"
                                      asp-route-StartRoomsCount="@Model.DailySearch.StartRoomsCount"
                                      asp-route-StartTotalFloor="@Model.DailySearch.StartTotalFloor"
                                      class="page-link">
                                    @Localizer["Previous"]
                                    <button type='submit' class="d-none" id="@($"pageLink-{Model.PageInfo.PageNumber - PagesLinks - 1}")"></button>
                                </form>
                            </li>

                            for (int index = PagesLinks; index > DefaultPageCount; index--)
                            {
                                <li class="page-item" onclick="document.getElementById('@($"pageLink-{Model.PageInfo.PageNumber - index}")').click()">
                                    <form asp-action="DailySearch" asp-route-pageNumber="@(Model.PageInfo.PageNumber - index)"
                                          asp-route-Address="@Model.DailySearch.Address"
                                      asp-route-District="@Model.DailySearch.District"
                                      asp-route-StartBYNPricePerPerson="@Model.DailySearch.StartBYNPricePerPerson"
                                      asp-route-FinishCurrentFloor="@Model.DailySearch.FinishCurrentFloor"
                                      asp-route-FinishBYNPricePerPerson="@Model.DailySearch.FinishBYNPricePerPerson"
                                      asp-route-StartUSDPricePerPerson="@Model.DailySearch.StartUSDPricePerPerson"
                                      asp-route-FinishUSDPricePerPerson="@Model.DailySearch.FinishUSDPricePerPerson"
                                      asp-route-FinishRoomsCount="@Model.DailySearch.FinishRoomsCount"
                                      asp-route-StartUSDPricePerDay="@Model.DailySearch.StartUSDPricePerDay"
                                      asp-route-FinishTotalFloor="@Model.DailySearch.FinishTotalFloor"
                                      asp-route-FinishUSDPricePerDay="@Model.DailySearch.FinishUSDPricePerDay"
                                      asp-route-IsFirstFloor="@Model.DailySearch.IsFirstFloor"
                                      asp-route-IsLastFloor="@Model.DailySearch.IsLastFloor"
                                      asp-route-Locality="@Model.DailySearch.Locality"
                                      asp-route-Region="@Model.DailySearch.Region"
                                      asp-route-StartBYNPricePerDay="@Model.DailySearch.StartBYNPricePerDay"
                                      asp-route-StartCurrentFloor="@Model.DailySearch.StartCurrentFloor"
                                      asp-route-FinishBYNPricePerDay="@Model.DailySearch.FinishBYNPricePerDay"
                                      asp-route-StartRoomsCount="@Model.DailySearch.StartRoomsCount"
                                      asp-route-StartTotalFloor="@Model.DailySearch.StartTotalFloor"
                                          class="page-link">
                                        @(Model.PageInfo.PageNumber - index)
                                        <button type='submit' class="d-none" id="@($"pageLink-{Model.PageInfo.PageNumber - index}")"></button>
                                    </form>
                                </li>
                            }
                        }
                        else
                        {
                            for (int index = 1; index < Model.PageInfo.PageNumber; index++)
                            {
                                <li class="page-item" onclick="document.getElementById('@($"pageLink-{index}")').click()">
                                    <form asp-action="DailySearch" asp-route-pageNumber="@index"
                                          asp-route-Address="@Model.DailySearch.Address"
                                      asp-route-District="@Model.DailySearch.District"
                                      asp-route-StartBYNPricePerPerson="@Model.DailySearch.StartBYNPricePerPerson"
                                      asp-route-FinishCurrentFloor="@Model.DailySearch.FinishCurrentFloor"
                                      asp-route-FinishBYNPricePerPerson="@Model.DailySearch.FinishBYNPricePerPerson"
                                      asp-route-StartUSDPricePerPerson="@Model.DailySearch.StartUSDPricePerPerson"
                                      asp-route-FinishUSDPricePerPerson="@Model.DailySearch.FinishUSDPricePerPerson"
                                      asp-route-FinishRoomsCount="@Model.DailySearch.FinishRoomsCount"
                                      asp-route-StartUSDPricePerDay="@Model.DailySearch.StartUSDPricePerDay"
                                      asp-route-FinishTotalFloor="@Model.DailySearch.FinishTotalFloor"
                                      asp-route-FinishUSDPricePerDay="@Model.DailySearch.FinishUSDPricePerDay"
                                      asp-route-IsFirstFloor="@Model.DailySearch.IsFirstFloor"
                                      asp-route-IsLastFloor="@Model.DailySearch.IsLastFloor"
                                      asp-route-Locality="@Model.DailySearch.Locality"
                                      asp-route-Region="@Model.DailySearch.Region"
                                      asp-route-StartBYNPricePerDay="@Model.DailySearch.StartBYNPricePerDay"
                                      asp-route-StartCurrentFloor="@Model.DailySearch.StartCurrentFloor"
                                      asp-route-FinishBYNPricePerDay="@Model.DailySearch.FinishBYNPricePerDay"
                                      asp-route-StartRoomsCount="@Model.DailySearch.StartRoomsCount"
                                      asp-route-StartTotalFloor="@Model.DailySearch.StartTotalFloor"
                                          class="page-link">
                                        @index
                                        <button type='submit' class="d-none" id="@($"pageLink-{index}")"></button>
                                    </form>
                                </li>
                            }
                        }
                        @if (Model.PageInfo.TotalItems > 30)
                        {
                            <li class="page-item active" onclick="document.getElementById('@($"pageLink-{Model.PageInfo.PageNumber}")').click()">
                                <form asp-action="DailySearch" asp-controller="Ads" asp-route-pageNumber="@Model.PageInfo.PageNumber"
                                      asp-route-Address="@Model.DailySearch.Address"
                                      asp-route-District="@Model.DailySearch.District"
                                      asp-route-StartBYNPricePerPerson="@Model.DailySearch.StartBYNPricePerPerson"
                                      asp-route-FinishCurrentFloor="@Model.DailySearch.FinishCurrentFloor"
                                      asp-route-FinishBYNPricePerPerson="@Model.DailySearch.FinishBYNPricePerPerson"
                                      asp-route-StartUSDPricePerPerson="@Model.DailySearch.StartUSDPricePerPerson"
                                      asp-route-FinishUSDPricePerPerson="@Model.DailySearch.FinishUSDPricePerPerson"
                                      asp-route-FinishRoomsCount="@Model.DailySearch.FinishRoomsCount"
                                      asp-route-StartUSDPricePerDay="@Model.DailySearch.StartUSDPricePerDay"
                                      asp-route-FinishTotalFloor="@Model.DailySearch.FinishTotalFloor"
                                      asp-route-FinishUSDPricePerDay="@Model.DailySearch.FinishUSDPricePerDay"
                                      asp-route-IsFirstFloor="@Model.DailySearch.IsFirstFloor"
                                      asp-route-IsLastFloor="@Model.DailySearch.IsLastFloor"
                                      asp-route-Locality="@Model.DailySearch.Locality"
                                      asp-route-Region="@Model.DailySearch.Region"
                                      asp-route-StartBYNPricePerDay="@Model.DailySearch.StartBYNPricePerDay"
                                      asp-route-StartCurrentFloor="@Model.DailySearch.StartCurrentFloor"
                                      asp-route-FinishBYNPricePerDay="@Model.DailySearch.FinishBYNPricePerDay"
                                      asp-route-StartRoomsCount="@Model.DailySearch.StartRoomsCount"
                                      asp-route-StartTotalFloor="@Model.DailySearch.StartTotalFloor"
                                      class="page-link">
                                    @Model.PageInfo.PageNumber
                                    <button type='submit' class="d-none" id="@($"pageLink-{Model.PageInfo.PageNumber}")"></button>
                                </form>
                            </li>
                        }
                        if (Model.PageInfo.PageNumber + PagesLinks <= Model.PageInfo.TotalPages)
                        {
                            for (int index = DefaultPageCount + 1; index <= PagesLinks; index++)
                            {
                                <li class="page-item" onclick="document.getElementById('@($"pageLink-{Model.PageInfo.PageNumber + index}")').click()">
                                    <form asp-action="DailySearch" asp-route-pageNumber="@(Model.PageInfo.PageNumber + index)"
                                          asp-route-Address="@Model.DailySearch.Address"
                                      asp-route-District="@Model.DailySearch.District"
                                      asp-route-StartBYNPricePerPerson="@Model.DailySearch.StartBYNPricePerPerson"
                                      asp-route-FinishCurrentFloor="@Model.DailySearch.FinishCurrentFloor"
                                      asp-route-FinishBYNPricePerPerson="@Model.DailySearch.FinishBYNPricePerPerson"
                                      asp-route-StartUSDPricePerPerson="@Model.DailySearch.StartUSDPricePerPerson"
                                      asp-route-FinishUSDPricePerPerson="@Model.DailySearch.FinishUSDPricePerPerson"
                                      asp-route-FinishRoomsCount="@Model.DailySearch.FinishRoomsCount"
                                      asp-route-StartUSDPricePerDay="@Model.DailySearch.StartUSDPricePerDay"
                                      asp-route-FinishTotalFloor="@Model.DailySearch.FinishTotalFloor"
                                      asp-route-FinishUSDPricePerDay="@Model.DailySearch.FinishUSDPricePerDay"
                                      asp-route-IsFirstFloor="@Model.DailySearch.IsFirstFloor"
                                      asp-route-IsLastFloor="@Model.DailySearch.IsLastFloor"
                                      asp-route-Locality="@Model.DailySearch.Locality"
                                      asp-route-Region="@Model.DailySearch.Region"
                                      asp-route-StartBYNPricePerDay="@Model.DailySearch.StartBYNPricePerDay"
                                      asp-route-StartCurrentFloor="@Model.DailySearch.StartCurrentFloor"
                                      asp-route-FinishBYNPricePerDay="@Model.DailySearch.FinishBYNPricePerDay"
                                      asp-route-StartRoomsCount="@Model.DailySearch.StartRoomsCount"
                                      asp-route-StartTotalFloor="@Model.DailySearch.StartTotalFloor"
                                          class="page-link">
                                        @(Model.PageInfo.PageNumber + index)
                                        <button type='submit' class="d-none" id="@($"pageLink-{Model.PageInfo.PageNumber + index}")"></button>
                                    </form>
                                </li>
                            }

                            <li class="page-item" onclick="document.getElementById('@($"pageLink-{Model.PageInfo.PageNumber + PagesLinks + 1}")').click()">
                                <form asp-action="DailySearch" asp-route-pageNumber="@(Model.PageInfo.PageNumber + PagesLinks + 1)"
                                      asp-route-Address="@Model.DailySearch.Address"
                                      asp-route-District="@Model.DailySearch.District"
                                      asp-route-StartBYNPricePerPerson="@Model.DailySearch.StartBYNPricePerPerson"
                                      asp-route-FinishCurrentFloor="@Model.DailySearch.FinishCurrentFloor"
                                      asp-route-FinishBYNPricePerPerson="@Model.DailySearch.FinishBYNPricePerPerson"
                                      asp-route-StartUSDPricePerPerson="@Model.DailySearch.StartUSDPricePerPerson"
                                      asp-route-FinishUSDPricePerPerson="@Model.DailySearch.FinishUSDPricePerPerson"
                                      asp-route-FinishRoomsCount="@Model.DailySearch.FinishRoomsCount"
                                      asp-route-StartUSDPricePerDay="@Model.DailySearch.StartUSDPricePerDay"
                                      asp-route-FinishTotalFloor="@Model.DailySearch.FinishTotalFloor"
                                      asp-route-FinishUSDPricePerDay="@Model.DailySearch.FinishUSDPricePerDay"
                                      asp-route-IsFirstFloor="@Model.DailySearch.IsFirstFloor"
                                      asp-route-IsLastFloor="@Model.DailySearch.IsLastFloor"
                                      asp-route-Locality="@Model.DailySearch.Locality"
                                      asp-route-Region="@Model.DailySearch.Region"
                                      asp-route-StartBYNPricePerDay="@Model.DailySearch.StartBYNPricePerDay"
                                      asp-route-StartCurrentFloor="@Model.DailySearch.StartCurrentFloor"
                                      asp-route-FinishBYNPricePerDay="@Model.DailySearch.FinishBYNPricePerDay"
                                      asp-route-StartRoomsCount="@Model.DailySearch.StartRoomsCount"
                                      asp-route-StartTotalFloor="@Model.DailySearch.StartTotalFloor"
                                      class="page-link">
                                    @Localizer["Next"]
                                    <button type='submit' class="d-none" id="@($"pageLink-{Model.PageInfo.PageNumber + PagesLinks + 1}")"></button>
                                </form>
                            </li>
                            <li class="page-item" onclick="document.getElementById('@($"pageLink-{Model.PageInfo.TotalPages}")').click()">
                                <form asp-action="DailySearch" asp-route-pageNumber="@Model.PageInfo.TotalPages"
                                      asp-route-Address="@Model.DailySearch.Address"
                                      asp-route-District="@Model.DailySearch.District"
                                      asp-route-StartBYNPricePerPerson="@Model.DailySearch.StartBYNPricePerPerson"
                                      asp-route-FinishCurrentFloor="@Model.DailySearch.FinishCurrentFloor"
                                      asp-route-FinishBYNPricePerPerson="@Model.DailySearch.FinishBYNPricePerPerson"
                                      asp-route-StartUSDPricePerPerson="@Model.DailySearch.StartUSDPricePerPerson"
                                      asp-route-FinishUSDPricePerPerson="@Model.DailySearch.FinishUSDPricePerPerson"
                                      asp-route-FinishRoomsCount="@Model.DailySearch.FinishRoomsCount"
                                      asp-route-StartUSDPricePerDay="@Model.DailySearch.StartUSDPricePerDay"
                                      asp-route-FinishTotalFloor="@Model.DailySearch.FinishTotalFloor"
                                      asp-route-FinishUSDPricePerDay="@Model.DailySearch.FinishUSDPricePerDay"
                                      asp-route-IsFirstFloor="@Model.DailySearch.IsFirstFloor"
                                      asp-route-IsLastFloor="@Model.DailySearch.IsLastFloor"
                                      asp-route-Locality="@Model.DailySearch.Locality"
                                      asp-route-Region="@Model.DailySearch.Region"
                                      asp-route-StartBYNPricePerDay="@Model.DailySearch.StartBYNPricePerDay"
                                      asp-route-StartCurrentFloor="@Model.DailySearch.StartCurrentFloor"
                                      asp-route-FinishBYNPricePerDay="@Model.DailySearch.FinishBYNPricePerDay"
                                      asp-route-StartRoomsCount="@Model.DailySearch.StartRoomsCount"
                                      asp-route-StartTotalFloor="@Model.DailySearch.StartTotalFloor"
                                      class="page-link">
                                    @Model.PageInfo.TotalPages
                                    <button type='submit' class="d-none" id="@($"pageLink-{Model.PageInfo.TotalPages}")"></button>
                                </form>
                            </li>
                        }
                        else
                        {
                            for (int index = Model.PageInfo.PageNumber + 1; index <= Model.PageInfo.TotalPages; index++)
                            {
                                <li class="page-item" onclick="document.getElementById('@($"pageLink-{index}")').click()">
                                    <form asp-action="DailySearch" asp-route-pageNumber="@index"
                                          asp-route-Address="@Model.DailySearch.Address"
                                      asp-route-District="@Model.DailySearch.District"
                                      asp-route-StartBYNPricePerPerson="@Model.DailySearch.StartBYNPricePerPerson"
                                      asp-route-FinishCurrentFloor="@Model.DailySearch.FinishCurrentFloor"
                                      asp-route-FinishBYNPricePerPerson="@Model.DailySearch.FinishBYNPricePerPerson"
                                      asp-route-StartUSDPricePerPerson="@Model.DailySearch.StartUSDPricePerPerson"
                                      asp-route-FinishUSDPricePerPerson="@Model.DailySearch.FinishUSDPricePerPerson"
                                      asp-route-FinishRoomsCount="@Model.DailySearch.FinishRoomsCount"
                                      asp-route-StartUSDPricePerDay="@Model.DailySearch.StartUSDPricePerDay"
                                      asp-route-FinishTotalFloor="@Model.DailySearch.FinishTotalFloor"
                                      asp-route-FinishUSDPricePerDay="@Model.DailySearch.FinishUSDPricePerDay"
                                      asp-route-IsFirstFloor="@Model.DailySearch.IsFirstFloor"
                                      asp-route-IsLastFloor="@Model.DailySearch.IsLastFloor"
                                      asp-route-Locality="@Model.DailySearch.Locality"
                                      asp-route-Region="@Model.DailySearch.Region"
                                      asp-route-StartBYNPricePerDay="@Model.DailySearch.StartBYNPricePerDay"
                                      asp-route-StartCurrentFloor="@Model.DailySearch.StartCurrentFloor"
                                      asp-route-FinishBYNPricePerDay="@Model.DailySearch.FinishBYNPricePerDay"
                                      asp-route-StartRoomsCount="@Model.DailySearch.StartRoomsCount"
                                      asp-route-StartTotalFloor="@Model.DailySearch.StartTotalFloor"
                                          class="page-link">
                                        @index
                                        <button type='submit' class="d-none" id="@($"pageLink-{index}")"></button>
                                    </form>
                                </li>
                            }
                        }
                    }
                </ul>
            </nav>
        }
        else
        {
            <nav aria-label="Page navigation example" class="mb-md-5 ml-md-4">
                <ul class="pagination">
                    @{
                        const int PagesLinks = 3, DefaultPageCount = 0;

                        if (Model.PageInfo.PageNumber - PagesLinks > DefaultPageCount && Model.AdViews.Count() > DefaultPageCount)
                        {
                            <li class="page-item"><a asp-action="AdsByType" asp-route-pageNumber="1" asp-route-adsTypeMenuItem="@ViewBag.AdsTypeMenuItem" class="page-link">1</a></li>
                            <li class="page-item"><a asp-action="AdsByType" asp-route-pageNumber="@(Model.PageInfo.PageNumber - PagesLinks - 1)" asp-route-adsTypeMenuItem="@ViewBag.AdsTypeMenuItem" class="page-link">@Localizer["Previous"]</a></li>

                            for (int index = PagesLinks; index > DefaultPageCount; index--)
                            {
                                <li class="page-item"><a asp-action="AdsByType" asp-route-pageNumber="@(Model.PageInfo.PageNumber - index)" asp-route-adsTypeMenuItem="@ViewBag.AdsTypeMenuItem" class="page-link">@(Model.PageInfo.PageNumber - index)</a></li>
                            }
                        }
                        else
                        {
                            for (int index = 1; index < Model.PageInfo.PageNumber; index++)
                            {
                                <li class="page-item"><a asp-action="AdsByType" asp-route-pageNumber="@index" asp-route-adsTypeMenuItem="@ViewBag.AdsTypeMenuItem" class="page-link">@index</a></li>
                            }
                        }
                        @if (Model.PageInfo.TotalItems > 30)
                        {
                            <li class="page-item active"><a asp-action="AdsByType" asp-route-pageNumber="@Model.PageInfo.PageNumber" asp-route-adsTypeMenuItem="@ViewBag.AdsTypeMenuItem" class="page-link">@Model.PageInfo.PageNumber</a></li>
                        }
                        if (Model.PageInfo.PageNumber + PagesLinks <= Model.PageInfo.TotalPages)
                        {
                            for (int index = DefaultPageCount + 1; index <= PagesLinks; index++)
                            {
                                <li class="page-item"><a asp-action="AdsByType" asp-route-pageNumber="@(Model.PageInfo.PageNumber + index)" asp-route-adsTypeMenuItem="@ViewBag.AdsTypeMenuItem" class="page-link">@(Model.PageInfo.PageNumber + index)</a></li>
                            }

                            <li class="page-item"><a asp-action="AdsByType" asp-route-pageNumber="@(Model.PageInfo.PageNumber + PagesLinks + 1)" asp-route-adsTypeMenuItem="@ViewBag.AdsTypeMenuItem" class="page-link">@Localizer["Next"]</a></li>
                            <li class="page-item"><a asp-action="AdsByType" asp-route-pageNumber="@Model.PageInfo.TotalPages" asp-route-adsTypeMenuItem="@ViewBag.AdsTypeMenuItem" class="page-link">@Model.PageInfo.TotalPages</a></li>
                        }
                        else
                        {
                            for (int index = Model.PageInfo.PageNumber + 1; index <= Model.PageInfo.TotalPages; index++)
                            {
                                <li class="page-item"><a asp-action="AdsByType" asp-route-pageNumber="@index" asp-route-adsTypeMenuItem="@ViewBag.AdsTypeMenuItem" class="page-link">@index</a></li>
                            }
                        }
                    }
                </ul>
            </nav>
        }
    }
    else
    {
        <h4 class="text-center text-warning pt-5">@Localizer["AdsNotFound"]</h4>
    }
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}