@model RentalOfProperty.WebUserInterface.Models.AllRentalAdInfoView
@using RentalOfProperty.WebUserInterface.Models.Ad;
@{
    ViewData["Title"] = Localizer["RentalAd"];
}

<div class="col-md-12 row mt-5">
    <div class="col-md-4 mt-2 text-left">
        @if (!string.IsNullOrEmpty(Model.RentalAd.Locality) && !string.IsNullOrEmpty(Model.RentalAd.Address))
        {
            <h3>
                @Model.RentalAd.Locality, @Model.RentalAd.Address.
            </h3>
        }
        else
        {
            <h3>..........</h3>
        }
    </div>
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="Ads" asp-action="AddOrRemoveFavorite" asp-route-rentalAdId="@Model.RentalAd.Id" asp-route-returnUrl="/Ads/RentalAd/@Model.RentalAd.Id" class="form-check col-md-4 text-center">
            @if (Model.RentalAd.IsFavorite)
            {
                <input class="btn btn-danger" type="submit" value="@Localizer["RemoveFromFavorites"]" />

            }
            else
            {
                <input class="btn btn-success" type="submit" value="@Localizer["AddToFavorites"]" />
            }
        </form>
    }
    <div class="col-md-4 text-left">
        <h5 class="w-100">
            <a href="@Model.RentalAd.SourceLink" class="text-warning col-md-12 pt-3">@Localizer["SourceLink"]</a>
        </h5>
    </div>
    <div class="col-md-6 text-left">
        <h5>
            @Localizer["Views"]: @(Model.RentalAd.TotalViews + Model.AditionalAdData.TotalViews) @Localizer["All"], @(Model.RentalAd.MonthViews + Model.AditionalAdData.MonthViews) @Localizer["PerMonth"], @(Model.RentalAd.WeekViews + Model.AditionalAdData.WeekViews) @Localizer["PerWeek"]
        </h5>
    </div>
    <div class="col-md-6 text-right row ml-0">
        <h6 class="col-md-6 text-left">
            @Localizer["UpdateDateOnSite"]: @Model.AditionalAdData.UpdateDate.ToShortDateString()
        </h6>
        <h6 class="col-md-6 text-right">
            @Localizer["UpdateDateOnSourceSite"]: @Model.RentalAd.UpdateDate.ToShortDateString()
        </h6>
    </div>
</div>
<div id="carousel-@Model.RentalAd.Id" class="carousel slide col-md-5 mt-3" data-ride="carousel">
    <div class="carousel-inner">
        @{
            string imagePath = Model.Photos.Count() == 0 ? @"\Files\Images\DefaultAdPhoto.png" : Model.Photos.First().PathToPhoto;
            <div class="carousel-item active" style="height:250px">
                <img class="h-100 w-100" src="@imagePath" alt="@Localizer["ImageNotFound"]">
            </div>
        }
        @foreach (var photo in Model.Photos)
        {
            <div class="carousel-item" style="height:250px">
                <img class="h-100 w-100" src="@photo.PathToPhoto" alt="@Localizer["ImageNotFound"]">
            </div>
        }
    </div>
    @if (Model.Photos.Count() != 0)
    {
        <a class="carousel-control-prev" href="#carousel-@Model.RentalAd.Id" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-@Model.RentalAd.Id" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    }
</div>
<div class="col-md-6 offset-md-1 mt-3 pb-0 row border-info" style="border:5px solid">
    @if (!string.IsNullOrEmpty(Model.ContactPerson.Name))
    {
        <h6 class="col-md-6 mt-1 text-danger w-100" asp-display-name-for="@Model.ContactPerson.Name"></h6>
        <div class="col-md-6 mt-1" asp-display-for="@Model.ContactPerson.Name"></div>
    }
    @if (!string.IsNullOrEmpty(Model.ContactPerson.Email))
    {
        <h6 class="col-md-6 text-danger mt-1 w-100" asp-display-name-for="@Model.ContactPerson.Email"></h6>
        <div class="col-md-6 mt-1" asp-display-for="@Model.ContactPerson.Email"></div>
    }
    @if (!string.IsNullOrEmpty(Model.ContactPerson.PhoneNumber))
    {
        <h6 class="col-md-6 text-danger mt-1 w-100" asp-display-name-for="@Model.ContactPerson.PhoneNumber"></h6>
        <div class="col-md-6 mt-1" asp-display-for="@Model.ContactPerson.PhoneNumber"></div>
    }
    @if (!string.IsNullOrEmpty(Model.ContactPerson.AdditionalPhoneNumber))
    {
        <h6 class="col-md-6 text-danger mt-1 w-100" asp-display-name-for="@Model.ContactPerson.AdditionalPhoneNumber"></h6>
        <div class="col-md-6 mt-1" asp-display-for="@Model.ContactPerson.AdditionalPhoneNumber"></div>
    }
</div>
@if (User.Identity.IsAuthenticated && Model.IsOriginal && (Model.ContactPerson.Email.Equals(User.Identity.Name) || User.IsInRole("Administrator")))
{
    <div class="col-md-6 text-right mt-3">
        <button class="btn btn-danger w-50" onclick="removeConfirm()">@Localizer["RemoveAd"]</button>
    </div>
    <form asp-controller="Ads" asp-action="Remove" asp-route-id="@Model.RentalAd.Id" class="d-none">
        <input type="submit" class="d-none" id="removeSubmit" />
        <button class="btn btn-danger w-50" onclick="removeConfirm()">@Localizer["RemoveAd"]</button>
    </form>
    <div class="col-md-6 text-right mt-3">
        <a class="btn btn-success w-50" asp-controller="Ads" asp-action="Edit" asp-route-id="@Model.RentalAd.Id">@Localizer["EditAd"]</a>
    </div>
}
<div class="col-md-12 row mt-4 ml-2 pb-2" style="background-color: #90EE90">
    <h5 class="col-md-12 text-center">@Localizer["Price"]</h5>
    @if (Model.RentalAd is LongTermRentalAdView)
    {
        var ad = Model.RentalAd as LongTermRentalAdView;
        <div class="col-md-3 text-left" asp-display-name-for="@ad.BYNPrice">
        </div>
        <div class="col-md-3 text-right text-danger">
            @(ad.BYNPrice <= 0 ? Localizer["ContractPrice"].Value : $"{ad.BYNPrice} {Localizer["BYN"].Value}")
        </div>
        <div class="col-md-3 text-left" asp-display-name-for="@ad.USDPrice">
        </div>
        <div class="col-md-3 text-right text-danger">
            @(ad.USDPrice <= 0 ? Localizer["ContractPrice"].Value : $"{ad.USDPrice} $")
        </div>
    }
    else
    {
        var ad = Model.RentalAd as DailyRentalAdView;
        <div class="col-md-3 text-left" asp-display-name-for="@ad.BYNPricePerDay">
        </div>
        <div class="col-md-3 text-right text-danger">
            @(ad.BYNPricePerDay <= 0 ? Localizer["ContractPrice"].Value : $"{ad.BYNPricePerDay} {Localizer["BYNDay"].Value}")
        </div>
        <div class="col-md-3 text-left" asp-display-name-for="@ad.USDPricePerDay">
        </div>
        <div class="col-md-3 text-right text-danger">
            @(ad.USDPricePerDay <= 0 ? Localizer["ContractPrice"].Value : $"{ad.USDPricePerDay} {Localizer["USDDay"].Value}")
        </div>
        <div class="col-md-3 text-left" asp-display-name-for="@ad.BYNPricePerPerson">
        </div>
        <div class="col-md-3 text-right text-danger">
            @(ad.BYNPricePerPerson <= 0 ? Localizer["ContractPrice"].Value : $"{ad.BYNPricePerPerson} {Localizer["BYNHuman"].Value}")
        </div>
        <div class="col-md-3 text-left" asp-display-name-for="@ad.USDPricePerPerson">
        </div>
        <div class="col-md-3 text-right text-danger">
            @(ad.USDPricePerPerson <= 0 ? Localizer["ContractPrice"].Value : $"{ad.USDPricePerPerson} {Localizer["USDHuman"].Value}")
        </div>
    }
</div>
<div class="col-md-12 row text-left bg-success text-white ml-2 mr-2 mt-0">
    <div class="col-md-2">
        <p>@Localizer["Room"]</p>
        <p>@(Model.RentalAd.RentCountOfRooms)/@(Model.RentalAd.TotalCountOfRooms)</p>
    </div>
    <div class="col-md-2">
        <p asp-display-name-for="@Model.RentalAd.TotalArea"></p>
        <p asp-display-for="@Model.RentalAd.TotalArea"></p>
    </div>
    <div class="col-md-2">
        <p asp-display-name-for="@Model.RentalAd.LivingArea"></p>
        <p asp-display-for="@Model.RentalAd.LivingArea"></p>
    </div>
    <div class="col-md-2">
        <p asp-display-name-for="@Model.RentalAd.KitchenArea"></p>
        <p asp-display-for="@Model.RentalAd.KitchenArea"></p>
    </div>
    @if (Model.RentalAd.LandArea > 0)
    {
        <div class="col-md-2">
            <p asp-display-name-for="@Model.RentalAd.LandArea"></p>
            <p asp-display-for="@Model.RentalAd.LandArea"></p>
        </div>
    }
    <div class="col-md-2">
        <p asp-display-name-for="@Model.RentalAd.Floor"></p>
        <p>@Model.RentalAd.Floor/@Model.RentalAd.TotalFloors</p>
    </div>
</div>
<div class="col-md-12 row ml-2 pt-2 mb-2" style="background-color:lightgray;padding-bottom:100px">
    <div class="col-md-6 row">
        <div class="col-md-6">
            @if (!string.IsNullOrEmpty(Model.RentalAd.Description))
            {
                <h4 asp-display-name-for="@Model.RentalAd.Description" class="text-center"></h4>
                <div>
                    @Model.RentalAd.Description
                </div>
            }
        </div>
        <div class="col-md-6">
            @if (!string.IsNullOrEmpty(Model.RentalAd.Facilities))
            {
                <h4 asp-display-name-for="@Model.RentalAd.Facilities" class="text-center"></h4>
                <div>
                    @Model.RentalAd.Facilities
                </div>
            }
        </div>
    </div>
    <div class="col-md-6 row mr-0">
        @if (Model.RentalAd.RentalAdNumber != default)
        {
            <div class="col-md-6 text-left text-danger" asp-display-name-for="@Model.RentalAd.RentalAdNumber"></div>
            <div class="col-md-6 text-left" asp-display-for="@Model.RentalAd.RentalAdNumber"></div>
        }
        @if (!string.IsNullOrEmpty(Model.RentalAd.Region))
        {
            <div class="col-md-6 text-left text-danger" asp-display-name-for="@Model.RentalAd.Region"></div>
            <div class="col-md-6 text-left" asp-display-for="@Model.RentalAd.Region"></div>
        }
        @if (!string.IsNullOrEmpty(Model.RentalAd.District))
        {
            <div class="col-md-6 text-left text-danger" asp-display-name-for="@Model.RentalAd.District"></div>
            <div class="col-md-6 text-left" asp-display-for="@Model.RentalAd.District"></div>
        }
        @if (!string.IsNullOrEmpty(Model.RentalAd.Locality))
        {
            <div class="col-md-6 text-left text-danger" asp-display-name-for="@Model.RentalAd.Locality"></div>
            <div class="col-md-6 text-left" asp-display-for="@Model.RentalAd.Locality"></div>
        }
        @if (!string.IsNullOrEmpty(Model.RentalAd.Address))
        {
            <div class="col-md-6 text-left text-danger" asp-display-name-for="@Model.RentalAd.Address"></div>
            <div class="col-md-6 text-left" asp-display-for="@Model.RentalAd.Address"></div>
        }
        @if (!string.IsNullOrEmpty(Model.RentalAd.Bathroom))
        {
            <div class="col-md-6 text-left text-danger" asp-display-name-for="@Model.RentalAd.Bathroom"></div>
            <div class="col-md-6 text-left" asp-display-for="@Model.RentalAd.Bathroom"></div>
        }
        @if (!string.IsNullOrEmpty(Model.RentalAd.Notes))
        {
            <div class="col-md-6 text-left text-danger" asp-display-name-for="@Model.RentalAd.Notes"></div>
            <div class="col-md-6 text-left" asp-display-for="@Model.RentalAd.Notes"></div>
        }
    </div>
</div>
<div class="col-md-10 offset-1">
    <div id="map" style="height:500px;margin-bottom:100px"></div>
</div>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        if (Model.RentalAd.XMapCoordinate >= 0 && Model.RentalAd.YMapCoordinate >= 0)
        {
            <script type="text/javascript">
        window.onload = function () {
            L.mapquest.key = 'E2Jg6ZmyVEGZd4RkMnIT7ntfAKOnUhtt';

            var map = L.mapquest.map('map', {
                center: [@(Model.MapPlace.GeoLong.ToString().Replace(',','.')), @(Model.MapPlace.GeoLat.ToString().Replace(',', '.'))],
                layers: L.mapquest.tileLayer('map'),
                zoom: 16
            });

            L.marker([@(Model.MapPlace.GeoLong.ToString().Replace(',','.')), @(Model.MapPlace.GeoLat.ToString().Replace(',', '.'))], {
                icon: L.mapquest.icons.marker(),
                draggable: false
            }).bindPopup('@(Model.RentalAd.Address)').addTo(map);

            map.addControl(L.mapquest.control());
                }

                function removeConfirm() {
                    if (confirm("@Localizer["RemoveConfirmMessage"]")) {
                    document.getElementById('removeSubmit').click();
                }
            }
            </script>
        }
    }
}